@each $pref in $list {
	@for $i from 1 through $columns {
	.#{$col}-#{$pref}-#{$i} {
			@extend %col;
		}
	}
}

.row {
	margin: 0 $gutter * -0.5;
	@extend %clearfix;
}

.container-fluid {
    width: 100%;
    padding: 0 $gutter * 0.5;
    margin: 0 auto;
    @extend %clearfix;
}
.md-show{ display: none !important; }
.lg-show{ display: none !important; }
@include responsive-col('-xs');

/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
/* Medium Screen */
@media only screen and (min-width: $small) {
    @include responsive-col('-sm');
    .sm-hide{ display: none !important; }
    .sm-show{ display: block !important; }
    .xs-show{ display: none !important; }
}

@media only screen and (min-width: $medium) {
    @include responsive-col('-md');
    .md-hide{ display: none !important; }
    .md-show{ display: block !important; }
    .xs-show{ display: none !important; }
}

/* Large Screen */
@media only screen and (min-width: $large) {
    @include responsive-col('-lg');
    .lg-hide{ display: none !important; }
    .lg-show{ display: block !important; }
    .md-show{ display: none !important; }
}

@media only screen and (max-width: 570px) {
    .hidden-xs-down {
        display: none !important;
    }
}