
.site-content {
    padding-top: $menu-height;
}

.header {
    position: fixed;
    left: 0;
    right: 0;

    height: $menu-height;

    line-height: $menu-height;
    color: #fff;

    background: $menu-color;

    z-index: 500;
}

.header__logo {
    font-weight: bold;
    padding: 0 25px;
    float: left;
    display: block;
    height: $menu-height;

    line-height: $menu-height;
    img {
        height: 40px;
    }
}


.menu {
    float: left;
    a {
        padding: 0 20px;
        font-family: Din Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: .7425rem;
        letter-spacing: 1px;
        color: #838383;
        text-transform: uppercase;
        @include transition-duration(0.3s);
    }

    &-right {
    	float: right;
    }
}

@media only screen and (max-width:750px) {
    .site-pusher {
        height: 100%;
        @include transform(translateX(0px));
        &.effect {
            @include transition-duration(0.3s);
        }
    }

    .header__logo {
        width: calc(100% - #{$menu-height * 2});
        text-align: center;
    }
    .site-content {
        position: absolute;
        overflow-y: scroll;
        top: $menu-height;
        left: 0;
        bottom: 0;
        right: 0;
        padding-top: 0;
        -webkit-overflow-scrolling: touch;
    }
    .header {
        position: static;
    }


    .header__icon {
        
        position: relative;
        display: block;
        float: left;
        width: $menu-height;
        height: $menu-height;
        cursor: pointer;

        &:after {
            $lock : 16px;
            content: '';
            position: absolute;
            display: block;
            width: $lock;
            height: 0;
            
            top: ($menu-height - 30) * 0.5;
            left: ($menu-height - $lock) * 0.5;
            @include box-shadow(0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff)
        }
        
    }

    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 500;
        background: darken($menu-color, 5);
        width: $menu-width;
        @include transform(translateX($menu-width * -1));
        
        a {
            float: none;
            display: block;
            height: $menu-height;

            text-align: center;
            line-height: $menu-height;

            border-bottom: 1px solid rgba(#000, 0.1);
        }

        &.effect {
            @include transition-duration(0.3s);
        }

    }

    .with--sidebar {
        .menu.effect {@include transform(translateX(0px));}
        .site-pusher.effect {@include transform(translateX($menu-width));}
        .site-cache {
            @include transition-duration(0.3s);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(#000, 0.6);
        }
    }
}