body {
	color: #98a6ad;
}
.wrapper-page {
	margin: 5% auto;
	position: relative;
	width: 420px;
}
.text-center {
	text-align: center;
}
.ex-page-content .text-error {
	color: #252932;
	font-size: 98px;
	font-weight: 700;
	line-height: 150px;
}
.text-primary {
	color: #5d9cec;
}
.ex-page-content .text-error i {
	font-size: 78px;
	padding: 0 10px;
}
.text-pink {
	color: #fb6d9d;
}
.text-info {
	color: #34d3eb;
}