body, html {
	height: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.bgimg {
	background-image: url('<?= Webroot("img/maint/" . ($conf['config']['img'] ?? "maintenance.jpg")) ?>');
	height: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}
.topleft {
	position: absolute;
	top: 0;
	left: 16px;
}
.bottomleft {
	position: absolute;
	bottom: 0;
	right: 16px;
	z-index: 500;
}
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 500;
}
hr {
	border: 0.5px solid rgba(255,255,255, 0.3);
	margin: auto;
	width: 40%;
}
.cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: rgba(0,0,0, 0.5);
}
#demo span {
	display: inline-block;
}