.table {
    width: 100%;
    border: 1px solid #ededed;
    background-color: #fff;
    text-align: left;
    border-collapse: collapse;
    border-radius: 3px;
    background-clip: padding-box;
    box-shadow: 0 4px 4px hsla(0,0%,95%,.56);
}
.table th {
    color: #3f4751;
    font-size: 16px;
    font-weight: 700;
    border-top: none;
    border-bottom: none;
}
.table td, .table th {
    padding: 7px 13px;
    border: 1px solid #f1f1f1;
    border-top: none;
    vertical-align: middle;
}

.table th {
    color: #3f4751;
    font-size: 16px;
    font-weight: 700;
    border-top: none;
    border-bottom: none;
}
.table tr:nth-child(2n) {
    background-color: darken(#fff, $amount);
}

table td[class*=col-], table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none;
}



.title {
  margin-top: 50px;
  font-size: 25px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 25px;
}

.item {
  background-color: #fff;
  box-shadow:  0 1px 12px #3232321a,0 1px 1px #0000001a;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
}

/*.item:hover  {
  transform: translate3d(0, -10px, 0);
}*/

.item img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.item__body {
  padding: 25px;
}

.item__title {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #232323;
}

.item__description {
  color: #585858;
}

.items {
  position: relative;
}

/**
CAROUSEL
 */
.carousel {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel__container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
}

.carousel__next, .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size:  20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: 0px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  color: #fff;
}

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2)
}

.carousel__prev {
  background-image: url(left.svg);
  right: auto;
  left: 0px;
}

.carousel__next--hidden, .carousel__prev--hidden {
  opacity: 0;
}

.carousel__pagination {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.carousel__pagination__button {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  box-shadow: 0 2px 5px #3232321a;
  transition: transform 0.3s;
  cursor: pointer;
}
.item__content {
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: left;
    font-size: 15px;
}

.carousel__pagination__button--active, .carousel__pagination__button:hover {
  transform: scale(1.4);
}

@media screen and (min-width: 800px) {
  .item__content {
    font-size: 20px;
  }
  .carousel__pagination {
    display: block;
  }
}



.test {
  padding: 5% 20%;
}

.test h1 {
  text-align: center;
  color: #efefef;
  margin-bottom: 45px;
}