@mixin responsive-col($suf: '') {
	@for $i from 0 through $columns {
		@if $i != 0 {
			.#{$col}#{$suf}-#{$i}{
				width: $i / $columns * 100%
			}

			.#{$col}#{$suf}-#{$i}{
				float: left;
			}
		}
		.#{$col}#{$suf}-center-#{$i} { margin: 0 auto; float: none;  }
		.#{$col}#{$suf}-push-#{$i} { left: $i / $columns * 100% }
		.#{$col}#{$suf}-offset-#{$i} { margin-left: $i / $columns * 100% }
		.#{$col}#{$suf}-pull-#{$i} { left: $i / $columns * 100% }

	}
}
@mixin prefix($prop, $val...) {
    @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
        #{$prefix}#{$prop}: $val;
    }
}

@mixin cards-color($nom,$colors) {
    .cards-#{$nom} {
        background-color: $colors !important;
        color: #fff;

        &[class*="cards-#{$nom}"] {
        	
        }
    }
}