$columns		: 12 		!default;
$gutter			: 30px 		!default;
$col 			: 'col' 	!default;

$small			: 768px!default;
$medium			: 992px!default;
$large			: 1200px!default;



$list 			: xs sm md lg;   

$color 			: #363838 	!default;

$menu-width		: 250px 	!default;
$menu-height	: 60px 		!default;
$menu-color 	: #000 		!default;
$amount 		: 6 		!default;

$color-flash 	: #3498db 	!default;
$color-input 	: #339ACE 	!default;

$bars-color 	: #8C78FF 	!default;

$news-height 	: 150px 	!default;



$red 			: 240;
$green 			: $red;
$blue 			: $red;

$rgb        	: rgb($red,$green,$blue);
$body-colors 	: #191919;