@import url('//fonts.googleapis.com/css?family=Kreon:300,400,700|PT+Sans|Roboto:400,700');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}
body {
  line-height: 1
}
ol, ul {
  list-style: none
}
blockquote, q {
  quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  background-size: 1.5em 1.5em;
  background-position: 0 -5px;
  color: #7a7a7a;
  overflow-x: hidden;
  background-color: $body-colors;
  -webkit-overflow-scrolling: touch;
}
p, ul, ol, blockquote {
  margin-bottom: 1.5em
}
a {
  color: inherit;
  text-decoration: none
}
a:hover {
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  margin-top: 20px;
}


h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Kreon", serif;
  line-height: 1.1;
  font-weight: 500;
}

h1 {
  font-size: 1.5em
}
h2 {
  font-size: 1.325em
}
h3 {
  font-size: 1.25em
}
h4 {
  font-size: 1.125em
}
h5, h6 {
  font-size: 1em
}
ul, ol {
  margin-left: 20px
}
ul {
  list-style: circle inside;
  overflow: hidden
}
ul ul, ol ul {
  list-style: disc inside;
  margin-bottom: 0
}
ol {
  list-style: decimal inside;
  overflow: hidden
}
ol ol, ul ol {
  list-style: lower-roman inside;
  margin-bottom: 0
}
strong , b {
  color: #333;
  font-weight: bold
}
blockquote {
  margin: 0 60px 0 45px;
  border-left: 5px solid #df4b3d;
  padding-left: 10px;
  font-style: italic;
  font-family: "Kreon", serif;
  overflow: hidden;
  margin-bottom: 1.5em
}

blockquote p {
  margin-bottom: 0
}
img.alignleft {
  float: left;
  margin-right: 20px
}
img.alignright {
  float: right;
  margin-left: 20px
}
img.aligncenter {
  display: block;
  margin: 0 auto
}
i {
  font-style: italic;
}
blockquote em {
  display: block;
  text-align: right;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal
}
blockquote em:before {
  content: '-'
}

* {
  @include box-sizing(border-box);
  
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $gutter * 0.5;
  max-width: 1170px;
  @extend %clearfix;
}
.container_fluid {
  width: 100%;
  padding: 0 $gutter * 0.5;
}

section {
  padding: 70px 0;
}
body {
  height: 100%;
}